<p>Programme:<%= @e_pgm['nom'] %> </P>
<form action='/pgm/<%= @e_pgm['_id'] %>'  method='post' class="form-inline well">
  <input type="text" name='cle' placeholder="cle a ajouter ou modifier" autofocus>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name='valeur' placeholder="valeur" autofocus>
  
  <input class="btn primary" type='submit' value='Envoyer'>
</form>

<p> Fichiers binaires associés</p>
<form action='/pgmupload/<%= @e_pgm['_id'] %>'  method='post' enctype='multipart/form-data' class="form-inline well">
 <input type="file" name='file' placeholder="choisir une fichier">
 <input type="text" name='cle' placeholder="indiquer la cle à utiliser">
  <input class="btn primary" type='submit' value='Upload'>
</form>
<p>

<table border='1'>
<% @e_pgm.keys.each do |k| %>
<tr>
<td> <%=  k %></td>
<% if @e_pgm[k].to_s.size  < 200 then %>
<td><%=  @e_pgm[k] %></td>
<%else %>
<td> file </td>
<%end%>
</tr>
<% end%>

</table>
